.header {
  display: flex;
  justify-content: space-between;

  @media(max-width: map-get($map: $grid-breakpoints, $key:md)) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.cardBack {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: $white;
  border: 0.1px solid $gray;
  box-shadow: 1rem 1rem .5rem rgba($gray, 0.5);
  border-radius: 3px;
  padding: 20px;
}

.list-item {
  list-style: none;
  line-height: 1rem;
}

li .button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  border: 0;

  &--\#f8c31c {
    @extend .button;
    background-color: $yellow;
  }

  &--\#6dc8bf {
    @extend .button;
    background-color:$teal;
  }

  &--\#b0bb36 {
    @extend .button;
    background-color:$grass;
  }

  &--\#f3a123 {
    @extend .button;
    background-color:$orange;
  }

  &--\#67a6dc {
    @extend .button;
    background-color:$blue;
  }

  &--\#f30b6f {
    @extend .button;
    background-color:$pink;
  }

  &--\#c0c0c0 {
    @extend .button;
    background-color:$gray;
  }

  &--\#823cbe {
    @extend .button;
    background-color:$purple;
  }

  &--\#bf1224 {
    @extend .button;
    background-color:$red;
  }
}
