@font-face {
  font-family: "Avenir LT Book";  src: url("../assets/AvenirLT-Book.eot");
  src: url("../assets/AvenirLT-Book.eot?#iefix") format("embedded-opentype"),
    url("../assets/AvenirLT-Book.woff") format("woff"),
    url("../assets/AvenirLT-Book.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400');

$yellow: #f8c31c;
$teal: #6dc8bf;
$grass: #b0bb36;
$orange: #f3a123;
$blue: #67a6dc;
$pink: #f30b6f;
$gray: #c0c0c0;
$purple: #823cbe;
$red: #bf1224;
$black: #000;
$white: #fff;

$font-family-avenir: "Avenir LT Book";

$font-family-zilla: 'zilla slab', serif;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.6;
$h5-font-size: $font-size-base * 1.4;
$h6-font-size: $font-size-base * 1.1;
$p-font-size: $font-size-base * 1.2;


$h1-font-size-s: $font-size-base * 2.5;
$h2-font-size-s: $font-size-base * 2.2;
$h3-font-size-s: $font-size-base * 1.8;
$h4-font-size-s: $font-size-base * 1.6;
$h5-font-size-s: $font-size-base * 1.3;
$h6-font-size-s: $font-size-base;
$p-font-size-s: $font-size-base * 1.1;


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1700px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);
