<div class="container" *ngIf="leadersData$ | async as data">
  <header class="{{data.titleClass}} title gray-underline">
    {{ data.title }}
  </header>
  <div *ngIf="!showDetails" class=" wrapper">
    <div class="cards" *ngFor="let leader of data.leaders">
      <leader-component [leader]="leader" (displayLeader)="displayLeader($event)"></leader-component>
    </div>
  </div>
  <div *ngIf="showDetails">
      <leader-details [leader]="selectedLeader" (displayAll)="displayAll($event)"></leader-details>
  </div>
</div>
